{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NewsFlash</title>
    <link rel="icon" href="{% static 'ico/favicon.ico' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>
<body>
    <header>
        <h1 class="logo">FAVORITE NEWS</h1>
    </header>
    <br />

    <div>
        {% for item in favorite_items %}
        <div class="container">
            <h2>{{ item.title }} | автор: {{ item.author }}</h2>
            <p>{{ item.description }}</p>
            <a href="{{ item.url }}">Перейти по ссылке</a>
            <sub>{{ item.published_at }}</sub>
            <a href="{% url 'delete_favorite' item.id %}">Delete</a>
        </div>
        {% endfor %}
    </div>

    <button onclick="topFunction()" id="scrollTopButton">Наверх!</button>
    <script defer src="{% static 'js/index.js' %}"></script>
</body>
</html>
